.grafico-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
}

.grafico {
  display: inline-block;
  width: 100%;
  min-width: 900px;
  height: 420px;
  text-align: left;
}