<div class="flex flex-col h-screen">

  <app-card-operaciones
    *ngIf="cardData"
    [data]="cardData"
    (dataChange)="onCardChange($event)">
  </app-card-operaciones>

  <div class="flex-1 overflow-auto mb-2.5">
    <app-tabla
      *ngIf="!loading"
      [data]="tablaData"
      [turno]="cardData?.turno"
      (dataChange)="onTablaChange($event)">
    </app-tabla>
  </div>

  <div class="shrink-0">
    <app-menuAcciones
      [horometrosData]="horometrosData"
      [condicionesData]="condicionesData"
      [checkListData]="checkListData"
      [llantasData]="llantasData"
      (dataChange)="onMenuChange($event)"
      (actualizarClick)="validarCambios()">
    </app-menuAcciones>
  </div>

</div>
