<div class="filtro-fechas">
  <div class="campo">
    <label>Fecha inicio</label>
    <input type="date" [(ngModel)]="fechaInicio">
  </div>

  <div class="campo">
    <label>Fecha fin</label>
    <input type="date" [(ngModel)]="fechaFin">
  </div>

  <div class="campo">
  <label>Turno</label>
  <select [(ngModel)]="turnoSeleccionado">
    <option value="">Todos</option>
    <option value="DÍA">Día</option>
    <option value="NOCHE">Noche</option>
  </select>
</div>


  <button class="btn-aplicar" (click)="aplicarFiltro()">
    Aplicar
  </button>

  <button class="btn-aplicar" (click)="quitarFiltro()">
    Quitar filtro
  </button>

  <button class="btn-aplicar" (click)="Presentacion()">
  presentación
</button>

  <!-- <button class="btn-aplicar" (click)="generarPDF()">
  Exportar PDF
</button> -->

<!-- <button class="btn-aplicar" (click)="toggleVista()">
  {{ vistaPrincipal ? 'Ver gráfico de linea' : 'Gráficos principales' }}
</button> -->

</div>

<div class="graficos-container" *ngIf="vistaPrincipal">

  <app-disponibilidad-equipo [data]="DataDisponibilidadPorEquipo" data-page="1" />
  <app-disponibilidad-dia [data]="DataDisponibilidadPorDia" data-page="1" />
  <app-disponibilidad-semana [data]="DataDisponibilidadPorSemana" data-page="1" />
  <app-disponibilidad-mes [data]="DataDisponibilidadPorMes" data-page="1" />

  <app-utilizacion-equipo [data]="DataUtilizacionPorEquipo" data-page="1" />

  <app-utilizacion-dia-mes [data]="DataUtilizacionPorDia" data-page="1" />
  <app-utilizacion-semana [data]="DataUtilizacionPorSemana" data-page="1" />
  <app-utilizacion-mes [data]="DataUtilizacionPorMes" data-page="1" />

  <app-rendimiento-equipo [data]="DataRendimientoPorEquipo" data-page="1" />

  <app-rendimiento-dia [data]="DataRendimientoPorDia" data-page="1" />
  <app-rendimiento-semana [data]="DataRendimientoPorSemana" data-page="1" />
  <app-rendimiento-mes [data]="DataRendimientoPorMes" data-page="1" />

  <app-pareto-utilizacion  [data]="DataParetoUtilizacionJumbos" data-page="1" />
  <app-pareto-disponibilidad [data]="DataParetoDisponibilidadJumbos" data-page="1" />

  <app-disponibilidad-guardia [data]="DataDisponibilidadPorGuardia" data-page="1" />
  <app-utilizacion-guardia [data]="DataUtilizacionPorGuardia" data-page="1" />
  <app-rendimiento-guardia [data]="DataRendimientoPorGuardia" data-page="1" />

  <app-ranking-operador-rendimiento [data]="DataRankingOperadorRendimiento" unidad="m/h" titulo="RANKING RENDIMIENTO POR OPERADOR - JUMBOS" />

  <app-ranking-operador-utilizacion [data]="DataRankingOperadorUtilizacion" titulo="RANKING UTILIZACIÓN POR OPERADOR - JUMBOS" />

  <app-mtbf-equipo [data]="DataMTBFPorEquipo" unidad="h" titulo="MTBF POR EQUIPO - JUMBOS" />
  <app-mttr-equipo [data]="DataMTTRPorEquipo" unidad="h" titulo="MTTR POR EQUIPO - JUMBOS" />

  <app-mtbf-semanas [data]="DataMTBFPorSemana" unidad="h" titulo="MTBF POR SEMANA - JUMBOS" />
  <app-mtbf-mes [data]="DataMTBFPorMes" unidad="h" titulo="MTBF POR MES - JUMBOS" />
  <app-mtbf-ano [data]="DataMTBFPorAnio" unidad="h" titulo="MTBF POR AÑO - JUMBOS" />

  <app-mttr-semanas [data]="DataMTTRPorSemana" unidad="h" titulo="MTTR POR SEMANA - JUMBOS" />
  <app-mttr-mes [data]="DataMTTRPorMes" unidad="h" titulo="MTTR POR MES - JUMBOS" />
  <app-mttr-ano [data]="DataMTTRPorAnio" unidad="h" titulo="MTTR POR AÑO - JUMBOS" />


</div>

<div class="graficos-container" *ngIf="!vistaPrincipal">

<app-scheduler class="full-width" [data]="ganttData" data-page="6"></app-scheduler>
</div>

 

<div class="overlay" *ngIf="cargandoPDF">
  <div class="spinner"></div>
  <p>Generando PDF...</p>
</div> 