<div class="filtro-fechas">
  <div class="campo">
    <label>Fecha inicio</label>
    <input type="date" [(ngModel)]="fechaInicio">
  </div>

  <div class="campo">
    <label>Fecha fin</label>
    <input type="date" [(ngModel)]="fechaFin">
  </div>

  <div class="campo">
  <label>Turno</label>
  <select [(ngModel)]="turnoSeleccionado">
    <option value="">Todos</option>
    <option value="DÍA">Día</option>
    <option value="NOCHE">Noche</option>
  </select>
</div>


  <button class="btn-aplicar" (click)="aplicarFiltro()">
    Aplicar
  </button>

  <button class="btn-aplicar" (click)="quitarFiltro()">
    Quitar filtro
  </button>

  <button class="btn-aplicar" (click)="generarPDF()">
  Exportar PDF
</button>

<button class="btn-aplicar" (click)="ImportarExcel()">
  Crear Masivos
</button>

<button class="btn-aplicar" (click)="Presentacion()">
  presentación
</button>

<!-- <button class="btn-aplicar" (click)="toggleVista()">
  {{ vistaPrincipal ? 'Ver gráfico de linea' : 'Gráficos principales' }}
</button> -->


</div>

<div class="graficos-container" *ngIf="vistaPrincipal">
  <!-- Hoja 1 pdf -->
<app-disponibilidad-equipo class="third-width" [data]="DataDisponibilidadPorEquipo" ></app-disponibilidad-equipo>
<app-disponibilidad-semana class="third-width" [data]="DataDisponibilidadPorSemana"></app-disponibilidad-semana>
<app-disponibilidad-mes class="third-width" [data]="DataDisponibilidadPorMes"></app-disponibilidad-mes>
<app-disponibilidad-guardia class="third-width" [data]="DataDisponibilidadPorSeccion"></app-disponibilidad-guardia>
<app-disponibilidad-estado class="third-width" [data]="DataHorasMantenimientoPorCodigo"></app-disponibilidad-estado>
<app-disponibilidad-dia-mes class="third-width"  [data]="DataDisponibilidadPorDiaMes" ></app-disponibilidad-dia-mes>


<app-utilizacion-equipo class="third-width" [data]="DataUtilizacionPorEquipo"></app-utilizacion-equipo>
<app-utilizacion-semana class="third-width" [data]="DataUtilizacionPorSemana"></app-utilizacion-semana>
<app-utilizacion-mes class="third-width" [data]="DataUtilizacionPorMes"></app-utilizacion-mes>
 <app-utilizacion-guardia class="third-width" [data]="DataUtilizacionPorSeccionDetallada"></app-utilizacion-guardia>
 <app-horas-demora-codigo class="third-width" [data]="DataHorasDemoraPorCodigo"></app-horas-demora-codigo>
<app-utilizacion-dia-mes class="third-width" [data]="DataUtilizacionPorDia"></app-utilizacion-dia-mes>


<app-rendimiento-general class="full-width-compact" [data]="DataprocesarEquiposConCapacidad"></app-rendimiento-general>
<app-rendimiento-guardia class="third-width" [data]="DataRendimientoPorSeccionDetallado"></app-rendimiento-guardia>
<app-rendimiento-seccion-labor class="third-width"  [data]="DataprocesarEquiposConCapacidad"></app-rendimiento-seccion-labor>
<app-rendimiento-mes-ano class="third-width" [data]="DataRendimientoPorMes"></app-rendimiento-mes-ano>
<app-top-equipos class="half-width" [data]="DataprocesarEquiposConCapacidad"></app-top-equipos>
<app-rendimiento-dia-mes class="half-width" [data]="DataRendimientoPorDia" ></app-rendimiento-dia-mes>


<app-ranking-operador-utilizacion class="half-width" [data]="DataDisponibilidadPorOperador" ></app-ranking-operador-utilizacion>
<app-ranking-operador-rendimiento class="half-width" [data]="DataRendimientoPorOperador" ></app-ranking-operador-rendimiento>


<app-ranking-disponibilidad-guardia class="quarter-width" [data]="DataDisponiblidadPorGuardia" />
<app-mineral-guardia class="quarter-width" [data]="DataMineralGuardia" />
<app-ranking-rendimiento-guardia class="quarter-width" [data]="DataRendimientoPorGuardia" />
<app-ranking-utilizacion-guardia class="quarter-width" [data]="DataUtilizacionGuardia" />
<app-promedios-materiales-equipo class="half-width"></app-promedios-materiales-equipo>
<app-promedio-material-guardia class="half-width"></app-promedio-material-guardia>


<app-pareto-no-programadas class="full-width" [data]="DataHorasPorObservacion"></app-pareto-no-programadas>

<app-diagrama-pareto class="full-width" [data]="DataHorasDemoraPorCodigoCompleto"></app-diagrama-pareto>


<app-mtbf-equipo class="half-width" [data]="DataMTBFPorEquipo"></app-mtbf-equipo>
<app-mtbf-ano class="half-width" [data]="DataMTBFPorAnio"></app-mtbf-ano>
<app-mtbf-semanas class="half-width" [data]="DataMTBFPorSemanas"></app-mtbf-semanas>
<app-mtbf-mes class="half-width" [data]="DataMTBFPorMes"></app-mtbf-mes>


<app-mttr-equipo class="half-width" [data]="DataMTTRPorEquipo"></app-mttr-equipo>
<app-mttr-ano class="half-width" [data]="DataMTTRPorAnio"></app-mttr-ano>
<app-mttr-semanas class="half-width" [data]="DataMTTRPorSemanas"></app-mttr-semanas>
<app-mttr-mes class="half-width" [data]="DataMTTRPorMes"></app-mttr-mes>
</div>
 
<div class="overlay" *ngIf="cargandoPDF">
  <div class="spinner"></div>
  <p>Generando PDF...</p>
</div> 